<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">

  <script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyBDtBmBLtS3-jT47xEKOQCfyV_1ueQ4JXs",
      authDomain: "rj-peakvn.firebaseapp.com",
      databaseURL: "https://rj-peakvn.firebaseio.com",
      projectId: "rj-peakvn",
      storageBucket: "rj-peakvn.appspot.com",
      messagingSenderId: "673039196713"
    };
    firebase.initializeApp(config);
  </script>
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
</head>

<body>
  <div id="app"></div>
</body>

</html>
